{
  "openapi": "3.0.0",
  "info": {
    "title": "Tradovate API",
    "description": "# Getting Started With the Tradovate API\nThe Tradovate API is a robust web interface that clients can utilize to bring our Trading services to their own applications and  extensions.\nThere are a number of supported operations that a client can perform by accessing the REST API. Essentially any functionality that is available on the\nTradovate Trader application is also exposed via the API. For the comprehensive JavaScript guide to using our API, please go [here](https://github.com/tradovate/example-api-js/).\n\n## Place and Modify Orders\nThe Tradovate REST API makes it easy to place and modify orders from code. Any type of order supported by the Tradovate Trader application\nis also able to be placed via the REST API. For interactive examples see the [Orders](#tag/Orders) section.\n\n## Query Positions, Contracts, Maturities and More\nFrom the Tradovate REST API we can get data about positions, contracts, products, prices, currencies, maturities, and more. Any data that you could view by\nbrowsing Tradovate Trader is queryable from the API. For interactive examples see the [ContractLibrary](#tag/ContractLibrary) section.\n\n## Query Account Data\nUsing our `/account/*` operations allow you to do things like find an account by its ID, get a snapshot of an account's current cash balance, and access\naccount trading permissions. For interactive examples see the [Accounting](#tag/Accounting) section.\n\n## Manage Risk\nWe can use all of the risk management features available on Tradovate Trader from the API. This includes setting position limits and creating, deleting,\nand modifying risk-parameters. For live examples, see the [Risk](#tag/Risks) section.\n\n## Access Alert and Live Chat Functions\nYou can use the REST API to generate alerts which can be seen from the Tradovate Trader application. You can use all of the Chat functionality from from \nthe REST API. This includes opening and closing the chat context, querying and posting chat message items, and even allowing us to mark a chat item as\n'read'. For more examples see the [Alerts](#tag/Alerts) and [Chat](#tag/Chat) sections.\n\n## How Do I Use the Tradovate REST API?\nIn order to access the features of the Tradovate REST API you'll need to sign up for a [Tradovate Trader](https://trader.tradovate.com/welcome) account. You must meet some other requirements as well:\n- You need a LIVE account with more than $1000 in equity.\n- You need a subscription to API Access.\n- You'll need to generate an API Key.\n\nThen you simply need to acquire an access token using your API Key, as described in the [Access](#tag/Access) section.\n",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://demo.tradovateapi.com/v1"
    }
  ],
  "paths": {
    "/auth/accesstokenrequest": {
      "post": {
        "description": "#### Request an access token using your user credentials and API Key. \n\nSee the [Access](/#tag/Access) section for more details. For a comprehensive guide on how to acquire and use an access token in the JavaScript language, see out [JavaScript tutorial](https://github.com/tradovate/example-api-js) repository. For usage examples using the C# language, see the [C# example](https://github.com/tradovate/example-api-csharp-trading) repository.\n\n### Acquiring an Access Token\n\n```js\nconst URL = 'https://live.tradovateapi.com/v1'\n\nconst credentials = {\n    name:       \"Your credentials here\",\n    password:   \"Your credentials here\",\n    appId:      \"Sample App\",\n    appVersion: \"1.0\",\n    cid:        0,\n    sec:        \"Your API secret here\"\n}\n\nasync function getAccessToken() {\n    let response = await fetch(URL + '/auth/accessTokenRequest', {\n        method: 'POST',\n        headers: {\n            'Content-Type': 'application/json'\n        }\n    })\n    let result = await response.json()\n    return result // { accessToken, mdAccessToken, userId, ... }\n}\n\n//...\n\nasync function main() {\n    const { accessToken, mdAccessToken, userId } = await getAccessToken()\n\n    //use access token\n}\n```\n\n### Using an Access Token\n\n```js\n//use the Authorization: Bearer schema in API POST and GET requests\n\n//simple /account/list endpoint requires no body or query\nasync function getAccounts() {\n    let response = await fetch(URL + '/account/list', {\n        method: 'GET',\n        headers: {\n            'Content-Type': 'application/json',\n            Authorization: `Bearer ${accessToken}` //Access Token use in HTTP requests\n        }\n    })\n    let result = await response.json()\n    return result\n}\n\n```",
        "operationId": "accessTokenRequest",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AccessTokenRequest"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "AccessTokenResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/me": {
      "get": {
        "description": "### Shows Basic user data for the calling user.",
        "operationId": "me",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OAuthMeResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthMeResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/oauthtoken": {
      "post": {
        "description": "### Used to exchange your OAuth code for an access token.\nUsing the OAuth authorization delegation flow, we can send a request to verify that our users are who they say they are. For more information on using OAuth with the Tradovate API see our [OAuth JavaScript tutorial](https://github.com/tradovate/example-api-oauth).",
        "operationId": "oAuthToken",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OAuthToken"
              }
            }
          }
        },
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "OAuthTokenResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OAuthTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/auth/renewaccesstoken": {
      "get": {
        "description": "### Request a renewal for an existing access token.",
        "operationId": "renewAccessToken",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Authentication"
        ],
        "responses": {
          "200": {
            "description": "AccessTokenResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AccessTokenResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contract/deps": {
      "get": {
        "description": "Retrieves all entities of Contract type related to ContractMaturity entity",
        "operationId": "contractDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of ContractMaturity entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contract/find": {
      "get": {
        "description": "Retrieves an entity of Contract type by its name",
        "operationId": "contractFind",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        }
      }
    },
    "/contract/getproductfeeparams": {
      "post": {
        "description": "### Query the a product's fee parameters.",
        "operationId": "getProductFeeParams",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/GetProductFeeParams"
              }
            }
          }
        },
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ProductFeeParamsResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductFeeParamsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contract/item": {
      "get": {
        "description": "Retrieves an entity of Contract type by its id",
        "operationId": "contractItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Contract"
                }
              }
            }
          }
        }
      }
    },
    "/contract/items": {
      "get": {
        "description": "Retrieves multiple entities of Contract type by its ids",
        "operationId": "contractItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contract/ldeps": {
      "get": {
        "description": "Retrieves all entities of Contract type related to multiple entities of ContractMaturity type",
        "operationId": "contractLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of ContractMaturity entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contract/rollcontract": {
      "post": {
        "description": "### Request the best upcoming maturity date for a given contract.",
        "operationId": "rollContract",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollContract"
              }
            }
          }
        },
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "RollContractResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RollContractResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contract/rollcontracts": {
      "post": {
        "description": "",
        "operationId": "rollContracts",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/RollContracts"
              }
            }
          }
        },
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "RollContractsResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RollContractsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/contract/suggest": {
      "get": {
        "description": "Retrieves entities of Contract type filtered by an occurrence of a text in one of its fields",
        "operationId": "contractSuggest",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "t",
            "description": "Text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "l",
            "description": "Max number of entities",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Contract",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Contract"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contractGroup/find": {
      "get": {
        "description": "Retrieves an entity of ContractGroup type by its name",
        "operationId": "contractGroupFind",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractGroup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractGroup"
                }
              }
            }
          }
        }
      }
    },
    "/contractGroup/item": {
      "get": {
        "description": "Retrieves an entity of ContractGroup type by its id",
        "operationId": "contractGroupItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractGroup",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractGroup"
                }
              }
            }
          }
        }
      }
    },
    "/contractGroup/items": {
      "get": {
        "description": "Retrieves multiple entities of ContractGroup type by its ids",
        "operationId": "contractGroupItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractGroup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contractGroup/list": {
      "get": {
        "description": "Retrieves all entities of ContractGroup type",
        "operationId": "contractGroupList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractGroup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contractGroup/suggest": {
      "get": {
        "description": "Retrieves entities of ContractGroup type filtered by an occurrence of a text in one of its fields",
        "operationId": "contractGroupSuggest",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "t",
            "description": "Text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "l",
            "description": "Max number of entities",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractGroup",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractGroup"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contractMaturity/deps": {
      "get": {
        "description": "Retrieves all entities of ContractMaturity type related to Product entity",
        "operationId": "contractMaturityDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Product entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractMaturity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractMaturity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contractMaturity/item": {
      "get": {
        "description": "Retrieves an entity of ContractMaturity type by its id",
        "operationId": "contractMaturityItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractMaturity",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ContractMaturity"
                }
              }
            }
          }
        }
      }
    },
    "/contractMaturity/items": {
      "get": {
        "description": "Retrieves multiple entities of ContractMaturity type by its ids",
        "operationId": "contractMaturityItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractMaturity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractMaturity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/contractMaturity/ldeps": {
      "get": {
        "description": "Retrieves all entities of ContractMaturity type related to multiple entities of Product type",
        "operationId": "contractMaturityLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Product entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ContractMaturity",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ContractMaturity"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currency/find": {
      "get": {
        "description": "Retrieves an entity of Currency type by its name",
        "operationId": "currencyFind",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Currency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          }
        }
      }
    },
    "/currency/item": {
      "get": {
        "description": "Retrieves an entity of Currency type by its id",
        "operationId": "currencyItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Currency",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Currency"
                }
              }
            }
          }
        }
      }
    },
    "/currency/items": {
      "get": {
        "description": "Retrieves multiple entities of Currency type by its ids",
        "operationId": "currencyItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Currency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currency/list": {
      "get": {
        "description": "Retrieves all entities of Currency type",
        "operationId": "currencyList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Currency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currency/suggest": {
      "get": {
        "description": "Retrieves entities of Currency type filtered by an occurrence of a text in one of its fields",
        "operationId": "currencySuggest",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "t",
            "description": "Text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "l",
            "description": "Max number of entities",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Currency",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Currency"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencyRate/deps": {
      "get": {
        "description": "Retrieves all entities of CurrencyRate type related to Currency entity",
        "operationId": "currencyRateDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Currency entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "CurrencyRate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyRate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencyRate/item": {
      "get": {
        "description": "Retrieves an entity of CurrencyRate type by its id",
        "operationId": "currencyRateItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "CurrencyRate",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CurrencyRate"
                }
              }
            }
          }
        }
      }
    },
    "/currencyRate/items": {
      "get": {
        "description": "Retrieves multiple entities of CurrencyRate type by its ids",
        "operationId": "currencyRateItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "CurrencyRate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyRate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencyRate/ldeps": {
      "get": {
        "description": "Retrieves all entities of CurrencyRate type related to multiple entities of Currency type",
        "operationId": "currencyRateLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Currency entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "CurrencyRate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyRate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/currencyRate/list": {
      "get": {
        "description": "Retrieves all entities of CurrencyRate type",
        "operationId": "currencyRateList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "CurrencyRate",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CurrencyRate"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/find": {
      "get": {
        "description": "Retrieves an entity of Exchange type by its name",
        "operationId": "exchangeFind",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Exchange",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exchange"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/item": {
      "get": {
        "description": "Retrieves an entity of Exchange type by its id",
        "operationId": "exchangeItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Exchange",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Exchange"
                }
              }
            }
          }
        }
      }
    },
    "/exchange/items": {
      "get": {
        "description": "Retrieves multiple entities of Exchange type by its ids",
        "operationId": "exchangeItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Exchange",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Exchange"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/list": {
      "get": {
        "description": "Retrieves all entities of Exchange type",
        "operationId": "exchangeList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Exchange",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Exchange"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/exchange/suggest": {
      "get": {
        "description": "Retrieves entities of Exchange type filtered by an occurrence of a text in one of its fields",
        "operationId": "exchangeSuggest",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "t",
            "description": "Text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "l",
            "description": "Max number of entities",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Exchange",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Exchange"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product/deps": {
      "get": {
        "description": "Retrieves all entities of Product type related to Exchange entity",
        "operationId": "productDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Exchange entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product/find": {
      "get": {
        "description": "Retrieves an entity of Product type by its name",
        "operationId": "productFind",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/product/item": {
      "get": {
        "description": "Retrieves an entity of Product type by its id",
        "operationId": "productItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/product/items": {
      "get": {
        "description": "Retrieves multiple entities of Product type by its ids",
        "operationId": "productItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product/ldeps": {
      "get": {
        "description": "Retrieves all entities of Product type related to multiple entities of Exchange type",
        "operationId": "productLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Exchange entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product/list": {
      "get": {
        "description": "Retrieves all entities of Product type",
        "operationId": "productList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/product/suggest": {
      "get": {
        "description": "Retrieves entities of Product type filtered by an occurrence of a text in one of its fields",
        "operationId": "productSuggest",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "t",
            "description": "Text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "l",
            "description": "Max number of entities",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "Product",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Product"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productSession/deps": {
      "get": {
        "description": "Retrieves all entities of ProductSession type related to Product entity",
        "operationId": "productSessionDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Product entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ProductSession",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductSession"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productSession/item": {
      "get": {
        "description": "Retrieves an entity of ProductSession type by its id",
        "operationId": "productSessionItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ProductSession",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductSession"
                }
              }
            }
          }
        }
      }
    },
    "/productSession/items": {
      "get": {
        "description": "Retrieves multiple entities of ProductSession type by its ids",
        "operationId": "productSessionItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ProductSession",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductSession"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/productSession/ldeps": {
      "get": {
        "description": "Retrieves all entities of ProductSession type related to multiple entities of Product type",
        "operationId": "productSessionLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Product entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "ProductSession",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ProductSession"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/spreadDefinition/item": {
      "get": {
        "description": "Retrieves an entity of SpreadDefinition type by its id",
        "operationId": "spreadDefinitionItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "SpreadDefinition",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpreadDefinition"
                }
              }
            }
          }
        }
      }
    },
    "/spreadDefinition/items": {
      "get": {
        "description": "Retrieves multiple entities of SpreadDefinition type by its ids",
        "operationId": "spreadDefinitionItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "ContractLibrary"
        ],
        "responses": {
          "200": {
            "description": "SpreadDefinition",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/SpreadDefinition"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/command/deps": {
      "get": {
        "description": "Retrieves all entities of Command type related to Order entity",
        "operationId": "commandDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Order entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Command",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/command/item": {
      "get": {
        "description": "Retrieves an entity of Command type by its id",
        "operationId": "commandItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Command",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Command"
                }
              }
            }
          }
        }
      }
    },
    "/command/items": {
      "get": {
        "description": "Retrieves multiple entities of Command type by its ids",
        "operationId": "commandItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Command",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/command/ldeps": {
      "get": {
        "description": "Retrieves all entities of Command type related to multiple entities of Order type",
        "operationId": "commandLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Order entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Command",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/command/list": {
      "get": {
        "description": "Retrieves all entities of Command type",
        "operationId": "commandList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Command",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Command"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/commandReport/deps": {
      "get": {
        "description": "Retrieves all entities of CommandReport type related to Command entity",
        "operationId": "commandReportDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Command entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "CommandReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/commandReport/item": {
      "get": {
        "description": "Retrieves an entity of CommandReport type by its id",
        "operationId": "commandReportItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "CommandReport",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandReport"
                }
              }
            }
          }
        }
      }
    },
    "/commandReport/items": {
      "get": {
        "description": "Retrieves multiple entities of CommandReport type by its ids",
        "operationId": "commandReportItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "CommandReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/commandReport/ldeps": {
      "get": {
        "description": "Retrieves all entities of CommandReport type related to multiple entities of Command type",
        "operationId": "commandReportLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Command entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "CommandReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/commandReport/list": {
      "get": {
        "description": "Retrieves all entities of CommandReport type",
        "operationId": "commandReportList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "CommandReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/CommandReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/executionReport/deps": {
      "get": {
        "description": "Retrieves all entities of ExecutionReport type related to Command entity",
        "operationId": "executionReportDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Command entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "ExecutionReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/executionReport/find": {
      "get": {
        "description": "Retrieves an entity of ExecutionReport type by its name",
        "operationId": "executionReportFind",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "ExecutionReport",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionReport"
                }
              }
            }
          }
        }
      }
    },
    "/executionReport/item": {
      "get": {
        "description": "Retrieves an entity of ExecutionReport type by its id",
        "operationId": "executionReportItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "ExecutionReport",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ExecutionReport"
                }
              }
            }
          }
        }
      }
    },
    "/executionReport/items": {
      "get": {
        "description": "Retrieves multiple entities of ExecutionReport type by its ids",
        "operationId": "executionReportItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "ExecutionReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/executionReport/ldeps": {
      "get": {
        "description": "Retrieves all entities of ExecutionReport type related to multiple entities of Command type",
        "operationId": "executionReportLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Command entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "ExecutionReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/executionReport/list": {
      "get": {
        "description": "Retrieves all entities of ExecutionReport type",
        "operationId": "executionReportList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "ExecutionReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/executionReport/suggest": {
      "get": {
        "description": "Retrieves entities of ExecutionReport type filtered by an occurrence of a text in one of its fields",
        "operationId": "executionReportSuggest",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "t",
            "description": "Text",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "l",
            "description": "Max number of entities",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int32"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "ExecutionReport",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionReport"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fill/deps": {
      "get": {
        "description": "Retrieves all entities of Fill type related to Order entity",
        "operationId": "fillDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Order entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Fill",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fill"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fill/item": {
      "get": {
        "description": "Retrieves an entity of Fill type by its id",
        "operationId": "fillItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Fill",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Fill"
                }
              }
            }
          }
        }
      }
    },
    "/fill/items": {
      "get": {
        "description": "Retrieves multiple entities of Fill type by its ids",
        "operationId": "fillItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Fill",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fill"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fill/ldeps": {
      "get": {
        "description": "Retrieves all entities of Fill type related to multiple entities of Order type",
        "operationId": "fillLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Order entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Fill",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fill"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fill/list": {
      "get": {
        "description": "Retrieves all entities of Fill type",
        "operationId": "fillList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Fill",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Fill"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fillFee/deps": {
      "get": {
        "description": "Retrieves all entities of FillFee type related to Fill entity",
        "operationId": "fillFeeDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Fill entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "FillFee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FillFee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fillFee/item": {
      "get": {
        "description": "Retrieves an entity of FillFee type by its id",
        "operationId": "fillFeeItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "FillFee",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FillFee"
                }
              }
            }
          }
        }
      }
    },
    "/fillFee/items": {
      "get": {
        "description": "Retrieves multiple entities of FillFee type by its ids",
        "operationId": "fillFeeItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "FillFee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FillFee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fillFee/ldeps": {
      "get": {
        "description": "Retrieves all entities of FillFee type related to multiple entities of Fill type",
        "operationId": "fillFeeLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Fill entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "FillFee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FillFee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/fillFee/list": {
      "get": {
        "description": "Retrieves all entities of FillFee type",
        "operationId": "fillFeeList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "FillFee",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/FillFee"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order/cancelorder": {
      "post": {
        "description": "### Make a request to cancel an order.",
        "operationId": "cancelOrder",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CancelOrder"
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "CommandResult",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/deps": {
      "get": {
        "description": "Retrieves all entities of Order type related to Account entity",
        "operationId": "orderDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Account entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order/item": {
      "get": {
        "description": "Retrieves an entity of Order type by its id",
        "operationId": "orderItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Order"
                }
              }
            }
          }
        }
      }
    },
    "/order/items": {
      "get": {
        "description": "Retrieves multiple entities of Order type by its ids",
        "operationId": "orderItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order/ldeps": {
      "get": {
        "description": "Retrieves all entities of Order type related to multiple entities of Account type",
        "operationId": "orderLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Account entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order/liquidateposition": {
      "post": {
        "description": "### Send a request to cancel orders for a specific contract and close that position for the given account.\nThis request initiates the cancellation process of open orders for an existing position held by this account.\n> Note: This is a request to cancel orders and close a position, not a guarantee. Any operation could fail for a number of reasons, ranging from Exchange rejection to incorrect parameterization.\n",
        "operationId": "liquidatePosition",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LiquidatePosition"
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "PlaceOrderResult",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOrderResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/list": {
      "get": {
        "description": "Retrieves all entities of Order type",
        "operationId": "orderList",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "Order",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Order"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/order/modifyorder": {
      "post": {
        "description": "### Make a request to modify the parameters of an order.\nYou can request changes to an order, such as the trigger price for a Stop or Limit order.\n> *Note*: This is no guarantee that the order can be modified in the way requests. Market, exchange and logical rules apply. ",
        "operationId": "modifyOrder",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ModifyOrder"
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "CommandResult",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CommandResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/placeoco": {
      "post": {
        "description": "### Place a Order Cancels Order order strategy.\nOCO order strategies link 2 orders together such that if one order is filled, the other order is cancelled. You must provide an `other` parameter pertaining to the order linked to this one. The `other` must specify an `action` and an `orderType` which determines the other parameters that must be set. For example a Limit or Stop order must use the `price` parameter, but a Stop-Limit will require a `price` and a `stopPrice`. Below is an example of an OCO that either sells to take profit at 4200 points, or sells to stop loss at 4100 points.\n\n```js\nconst URL = 'demo.tradovateapi.com/v1'\nconst limit = {\n    action: 'Sell',\n    orderType: 'Limit',\n    price: 4200.00\n}\nconst oco = {\n    accountSpec: yourUserName,\n    accountId: yourAcctId,\n    action: \"Buy\",\n    symbol: \"MESM1\",\n    orderQty: 1,\n    orderType: \"Stop\",\n    price: 4100.00\n    isAutomated: true, //must be true if this isn't an order made directly by a human\n    other: limit\n}\n\nconst response = await fetch(URL + '/order/placeoco', {\n    method: 'POST',\n    headers: {\n        'Accept': 'application/json',\n        'Authorization': `Bearer ${myAccessToken}`,\n    },\n    body: JSON.stringify(oco)\n})\n\nconst json = await response.json() // { orderId: 0000000, ocoId: 0000000 }\n```",
        "operationId": "placeOCO",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOCO"
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "PlaceOcoResult",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOcoResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/placeorder": {
      "post": {
        "description": "### Make a request to place an order. \nDepending on the order type, the parameters vary. In the Trader application, you can see the details of placing a standard order ticket by adding the Order Ticket module to your workspace.\n\n#### *Market Order*\n```js\nconst URL = 'demo.tradovateapi.com/v1'\nconst body = {\n    accountSpec: yourUserName,\n    accountId: yourAcctId,\n    action: \"Buy\",\n    symbol: \"MYMM1\",\n    orderQty: 1,\n    orderType: \"Market\",\n    isAutomated: true //must be true if this isn't an order made directly by a human\n}\n\nconst response = await fetch(URL + '/order/placeorder', {\n    method: 'POST',\n    headers: {\n        'Accept': 'application/json',\n        'Authorization': `Bearer ${myAccessToken}`,\n    },\n    body: JSON.stringify(body)\n})\n\nconst json = await response.json() // { orderId: 0000000 }\n\n```\n\n#### *Sell Limit*\n```js\nconst URL = 'demo.tradovateapi.com/v1'\nconst body = {\n    accountSpec: yourUserName,\n    accountId: yourAcctId,\n    action: \"Sell\",\n    symbol: \"MYMM1\",\n    orderQty: 1,\n    orderType: \"Limit\",\n    price: 35000, //use for single value like limit or stop\n    isAutomated: true //must be true if this isn't an order made directly by a human\n}\n\nconst response = await fetch(URL + '/order/placeorder', {\n    method: 'POST',\n    headers: {\n        'Accept': 'application/json',\n        'Authorization': `Bearer ${myAccessToken}`,\n    },\n    body: JSON.stringify(body)\n})\n\nconst json = await response.json() // { orderId: 0000000 }\n\n```\n",
        "operationId": "placeOrder",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOrder"
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "PlaceOrderResult",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOrderResult"
                }
              }
            }
          }
        }
      }
    },
    "/order/placeoso": {
      "post": {
        "description": "### Place an Order Sends Order order strategy.\nIn the Trader application, the details of OSO orders can be viewed by adding the Order Ticket module to your workspace and selecting the Advanced workspace options with Brackets enabled. OSO orders allow for the most complex multi-bracket trading strategies. As an example, imagine MESM1 is trading around 4175.00 points. You want to place a Buy order for 4150.00 points, buying below market. We place an OSO to take profits at 4200.00 points. If the initial order is filled, the `bracket1` order will be sent. Below is an example in JavaScript:\n\n```js\nconst URL = 'demo.tradovateapi.com/v1'\n\nconst oso = {\n    action: 'Sell',\n    orderType: 'Limit',\n    price: 4200.00,\n}\n\nconst initial = {\n    accountSpec: yourUserName,\n    accountId: yourAcctId,\n    action: \"Buy\",\n    symbol: \"MESM1\",\n    orderQty: 1,\n    orderType: \"Limit\",\n    price: 4150.00,\n    isAutomated: true //must be true if this isn't an order made directly by a human\n    bracket1: oso\n}\n\nconst response = await fetch(URL + '/order/placeOSO', {\n    method: 'POST',\n    headers: {\n        'Accept': 'application/json',\n        'Authorization': `Bearer ${myAccessToken}`,\n    },\n    body: JSON.stringify(initial)\n})\n\nconst json = await response.json() // { orderId: 0000000 }\n```\n\n>*Note:* If you specify both `bracket1` and `bracket2` the two orders will be linked as an OCO, where filling one will cancel the other.",
        "operationId": "placeOSO",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PlaceOSO"
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "PlaceOsoResult",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PlaceOsoResult"
                }
              }
            }
          }
        }
      }
    },
    "/orderStrategy/deps": {
      "get": {
        "description": "Retrieves all entities of OrderStrategy type related to Account entity",
        "operationId": "orderStrategyDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterid",
            "description": "id of Account entity",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "OrderStrategy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderStrategy"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orderStrategy/interruptorderstrategy": {
      "post": {
        "description": "### Stop a running multi-bracket strategy.",
        "operationId": "interruptOrderStrategy",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InterruptOrderStrategy"
              }
            }
          }
        },
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "OrderStrategyStatusResponse",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStrategyStatusResponse"
                }
              }
            }
          }
        }
      }
    },
    "/orderStrategy/item": {
      "get": {
        "description": "Retrieves an entity of OrderStrategy type by its id",
        "operationId": "orderStrategyItem",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "id",
            "in": "query",
            "required": true,
            "schema": {
              "type": "integer",
              "format": "int64"
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "OrderStrategy",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/OrderStrategy"
                }
              }
            }
          }
        }
      }
    },
    "/orderStrategy/items": {
      "get": {
        "description": "Retrieves multiple entities of OrderStrategy type by its ids",
        "operationId": "orderStrategyItems",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "ids",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "OrderStrategy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderStrategy"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orderStrategy/ldeps": {
      "get": {
        "description": "Retrieves all entities of OrderStrategy type related to multiple entities of Account type",
        "operationId": "orderStrategyLDependents",
        "security": [
          {
            "bearer_access_token": []
          }
        ],
        "parameters": [
          {
            "name": "masterids",
            "description": "ids of Account entities",
            "in": "query",
            "required": true,
            "style": "form",
            "explode": false,
            "schema": {
              "type": "array",
              "items": {
                "type": "integer",
                "format": "int64"
              }
            }
          }
        ],
        "tags": [
          "Orders"
        ],
        "responses": {
          "200": {
            "description": "OrderStrategy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/OrderStrategy"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/orderStrategy/list": {
[...]
